<?php
/**
 * The main configuration FOG uses.
 *
 * PHP Version 5
 *
 * Constructs the configuration we need to run FOG.
 *
 * @category Config
 * @package  FOGProject
 * @author   Tom Elliott <tommygunsster@gmail.com>
 * @license  http://opensource.org/licenses/gpl-3.0 GPLv3
 * @link     https://fogproject.org
 */
/**
 * The main configuration FOG uses.
 *
 * @category Config
 * @package  FOGProject
 * @author   Tom Elliott <tommygunsster@gmail.com>
 * @license  http://opensource.org/licenses/gpl-3.0 GPLv3
 * @link     https://fogproject.org
 */
class Config
{
    /**
     * Calls the required functions to define items
     *
     * @return void
     */
    public function __construct()
    {
        self::_dbSettings();
        self::_svcSetting();
        if ($_REQUEST['node'] == 'schema') {
            self::_initSetting();
        }
    }
    /**
     * Defines the database settings for FOG
     *
     * @return void
     */
    private static function _dbSettings()
    {
        define('DATABASE_TYPE', 'mysql'); // mysql or oracle
        define('DATABASE_HOST', '{{ config.get('database_host') }}');
        define('DATABASE_NAME', '{{ config.get('database_name') }}');
        define('DATABASE_USERNAME', '{{ config.get('database_username') }}');
        define('DATABASE_PASSWORD', '{{ config.get('database_password') }}');
    }
    /**
     * Defines the service settings
     *
     * @return void
     */
    private static function _svcSetting()
    {
        define('UDPSENDERPATH', '{{ config.get('udp_sender_path', '/usr/bin/udp-sender') }}');
        define('MULTICASTINTERFACE', '{{ config.get('interface') }}');
        define('UDPSENDER_MAXWAIT', null);
    }
    /**
     * Initial values if fresh install are set here
     * NOTE: These values are only used on initial
     * installation to set the database values.
     * If this is an upgrade, they do not change
     * the values within the Database.
     * Please use FOG Configuration->FOG Settings
     * to change these values after everything is
     * setup.
     *
     * @return void
     */
    private static function _initSetting()
    {
        define('TFTP_HOST', '{{ config.get('ipaddress') }}');
        define('TFTP_FTP_USERNAME', '{{ config.get('username') }}');
        define(
            'TFTP_FTP_PASSWORD',
            '{{ config.get('password') }}'
        );
        define('TFTP_PXE_KERNEL_DIR', '{{ config.get('webroot') }}/service/ipxe/');
        define('PXE_KERNEL', 'bzimage');
        define('PXE_KERNEL_RAMDISK', 127000);
        define('USE_SLOPPY_NAME_LOOKUPS', true);
        define('MEMTEST_KERNEL', 'memtest.bin');
        define('PXE_IMAGE', 'init.xz');
        define('STORAGE_HOST', '{{ config.get('ipaddress') }}');
        define('STORAGE_FTP_USERNAME', '{{ config.get('username') }}');
        define(
            'STORAGE_FTP_PASSWORD',
            '{{ config.get('password') }}'
        );
        define('STORAGE_DATADIR', '{{ config.get('storage_location') }}/');
        define('STORAGE_DATADIR_CAPTURE', '{{ config.get('storage_location_capture') }}');
        define('STORAGE_BANDWIDTHPATH', '{{ config.get('webroot') }}/status/bandwidth.php');
        define('STORAGE_INTERFACE', '{{ config.get('interface') }}');
        define('CAPTURERESIZEPCT', 5);
        define('WEB_HOST', '{{ config.get('ipaddress') }}');
        define('WOL_HOST', '{{ config.get('ipaddress') }}');
        define('WOL_PATH', '{{ config.get('webroot') }}/wol/wol.php');
        define('WOL_INTERFACE', '{{ config.get('interface') }}');
        define('SNAPINDIR', '{{ config.get('snapindir') }}');
        define('QUEUESIZE', '10');
        define('CHECKIN_TIMEOUT', 600);
        define('USER_MINPASSLENGTH', 4);
        define('NFS_ETH_MONITOR', '{{ config.get('interface') }}');
        define('UDPCAST_INTERFACE', '{{ config.get('interface') }}');
        // Must be an even number! recommended between 49152 to 65535
        define('UDPCAST_STARTINGPORT', 63100);
        define('FOG_MULTICAST_MAX_SESSIONS', 64);
        define('FOG_JPGRAPH_VERSION', '2.3');
        define('FOG_REPORT_DIR', './reports/');
        define('FOG_CAPTUREIGNOREPAGEHIBER', true);
    }
}
