# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'fog/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {
            "pkg" : 'fog-arch',
        },
        'RedHat': {
            "config": '/etc/fog.conf',
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('fog:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.fog.update(os_family_map) %}

{## Merge in fog:lookup pillar ##}
{% set fog = salt['pillar.get'](
        'fog',
        default=default_settings.fog,
        merge=True
    )
%}
